{
  "extends": ["airbnb", "airbnb/hooks"],
  "rules": {
    "max-classes-per-file": "off",
    "prefer-destructuring": "warn",
    "prefer-object-spread": "warn",
    "no-unused-vars": "warn",
    "no-case-declarations": "off",
    "arrow-parens": "warn",

    "react/destructuring-assignment": "warn",
    "react/prop-types": "off",
    "react/no-deprecated": "warn",
    "react/prefer-stateless-function": "off",
    "react/no-access-state-in-setstate": "warn",
    "react/jsx-filename-extension": "off",

    "import/no-named-as-default": "warn",
    "import/no-named-as-default-member": "warn",
    "import/prefer-default-export": "off",

    // not available in our version of eslint
    "no-restricted-exports": "off",
    "function-call-argument-newline": "off",
    "prefer-exponentiation-operator": "off",
    "no-dupe-else-if": "off",
    "no-import-assign": "off",
    "no-loss-of-precision": "off",
    "no-promise-executor-return": "off",
    "no-setter-return": "off",
    "no-unreachable-loop": "off",
    "no-unsafe-optional-chaining": "off",
    "no-useless-backreference": "off",
    "default-case-last": "off",
    "default-param-last": "off",
    "grouped-accessor-pairs": "off",
    "no-constructor-return": "off",
    "no-nonoctal-decimal-escape": "off",
    "prefer-regex-literals": "off"
  }
}
