{
  "extends": ["airbnb", "airbnb/hooks"],
  "rules": {
    "max-classes-per-file": "off",
    "prefer-destructuring": "warn",
    "prefer-object-spread": "warn",
    "no-unused-vars": "warn",
    "no-case-declarations": "off",
    "arrow-parens": "warn",

    "react/destructuring-assignment": "off",
    "react/prop-types": "off",
    "react/no-deprecated": "warn",
    "react/prefer-stateless-function": "off",
    "react/no-access-state-in-setstate": "warn",
    "react/jsx-filename-extension": "off",

    "import/no-named-as-default": "warn",
    "import/no-named-as-default-member": "warn"
  }
}
